.content {
	.product {
		width: 1180px;
		.product-details {
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: space-between;
			margin-bottom: 87px;
			.details-gallery {
				.foto {
					&__first {}
				}
				.foto-prev {
					width: 580px;
					padding-top: 18px;
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: space-between;
					&__img_prev {}
				}
			}
			.details-item {
				width: 580px;
				height: 531px;
				.item-reviews {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					justify-content: space-between;
					width: 270px;
					height: 17px;
					margin-bottom: 40px;
					&__stars {
						font-size: 15px;
						color: #333;
					}
					&__text {
						font-family: Lato;
						color: #8c8c8c;
						font-size: 14px;
						font-weight: 300;
						line-height: 18px;
						text-align: center;
					}
					.separator { color: #e5e5e5; }
				}
				.item-description {
					width: 580px;
					height: 355px;
					.description-desc {
						margin-bottom: 37px;
						&__text {
							font-family: Lato;
							color: #333333;
							font-size: 14px;
							font-weight: 300;
							line-height: 20px;
							text-align: left;
						}
					}
					.description-size {
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						justify-content: space-between;
						width: 580px;
						margin-bottom: 40px;
						.size {
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							align-items: center;
							&__text {
								font-family: Lato;
								color: #333333;
								font-size: 14px;
								font-weight: 300;
								line-height: 24px;
								text-align: left;
								padding-right: 10px;
							}
							.size-select {
								border: 1px solid	#d9d3d9;
								box-sizing: border-box;
								background-color: #ffffff;
								width: 226px;
								height: 32px;
								outline: none;
						    -webkit-appearance: none;
						    -moz-appearance: none;
							  background-image: url('../img/arrnext.png');
							  background-position: right center;
							  background-repeat: no-repeat;
							  padding-left: 12px;
							  color: #8c8c8c;
								&__option {}
							}
						}
					}
					.description-price {
						margin-bottom: 40px;
						&__title {
							font-family: Lato;
							color: #333333;
							font-size: 28.01px;
							font-weight: 400;
							line-height: 18px;
							text-align: left;
							.description-price__span {
								font-family: Lato;
								color: #333333;
								font-size: 20px;
								font-weight: 300;
								line-height: 18px;
								text-align: left;
								text-decoration: line-through;
								padding-right: 20px;
							}
						}
					}
					.description-add {
						background-color: #f6f4f0;
						width: 540px;
						height: 70px;
						display: -webkit-flex;
						display: -moz-flex;
						display: -ms-flex;
						display: -o-flex;
						display: flex;
						justify-content: space-between;
						padding: 0 20px 0 20px;
						margin-bottom: 40px;
						.add {
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							align-items: center;
							&__text {
								font-family: Lato;
								color: #333333;
								font-size: 14px;
								font-weight: 300;
								line-height: 24px;
								text-align: left;
								padding-right: 10px;
							}
							.add-select {
								border: 1px solid	#d9d3d9;
								box-sizing: border-box;
								background-color: #ffffff;
								width: 58px;
								height: 32px;
								outline: none;
						    -webkit-appearance: none;
						    -moz-appearance: none;
							  background-image: url('../img/arrnext.png');
							  background-position: right center;
							  background-repeat: no-repeat;
							  padding-left: 12px;
							  color: #8c8c8c;
								&__option {}
							}
						}
						.add-btn {
							width: 224px;
							display: -webkit-flex;
							display: -moz-flex;
							display: -ms-flex;
							display: -o-flex;
							display: flex;
							justify-content: space-between;
							align-items: center;
							&__white {
								border: 1px solid #e5e5e5;
								box-sizing: border-box;
								background-color: #ffffff;
								width: 40px;
								height: 40px;
								color: #8c8c8c;
								cursor: pointer;
							}
							&__nowhite {
								background-color: #ccb48e;
								width: 120px;
								height: 42px;
								border: 0;
								font-family: Lato;
								color: #ffffff;
								font-size: 12px;
								font-weight: 400;
								line-height: 18px;
								text-align: center;
								cursor: pointer;
							}
						}
					}
					.description-info {
						&__status {
							font-family: Lato;
							color: #333333;
							font-size: 14px;
							font-weight: 300;
							line-height: 20px;
							text-align: left;
							.description-info__title { color: #8c8c8c; }
						}
					}
				}
				.seporator {
					background-color: rgba(102, 102, 102, 0.15);
					border-width: 0px 0px 1px 0px;
					width: 580px;
					margin: 37px 0 40px 0;
				}
				.social {
					display: -webkit-flex;
					display: -moz-flex;
					display: -ms-flex;
					display: -o-flex;
					display: flex;
					align-items: center;
					width: 472px;
					height: 42px;
					&__title {
						font-family: Lato;
						color: #333333;
						font-size: 16px;
						font-weight: 300;
						line-height: 24px;
						text-align: left;
						padding-right: 20px;
					}
					.social-block {
						&__link {
							border: 1px solid #e5e5e5;
							padding: 6px 7px;
							color: #8c8c8c;
						}
					}
				}
			}
		}
		.info {
			.info-buttons {
				font-family: Lato;
				font-size: 16px;
				font-weight: 300;
				line-height: 24px;
				text-align: left;
				width: 230px;
				display: -webkit-flex;
				display: -moz-flex;
				display: -ms-flex;
				display: -o-flex;
				display: flex;
				justify-content: space-between;
				&__desc {
					border: 0;
					outline: none;
					cursor: pointer;
					background-color: #fff;
					color:  #8c8c8c;
					padding: 0;
					&:hover {
						color: #333333;
						border-bottom: 1px solid #333;
					}
				}
				&__rev {
					border: 0;
					outline: none;
					cursor: pointer;
					background-color: #fff;
					color: #8c8c8c;
					padding: 0;
					&:hover {
						color: #333333;
						border-bottom: 1px solid #333;
					}
				}
			}
			.seporator {
				background-color: rgba(102, 102, 102, 0.15);
				border-width: 0px 0px 1px 0px;
				margin: 0;
			}
			.block-desc {
				&__title {
					font-family: Lato;
					color: #333333;
					font-size: 20px;
					font-weight: 300;
					line-height: 24px;
					text-align: left;
					margin: 29px 0 27px 0;
				}
				&__text {
					font-family: Lato;
					color: #333333;
					font-size: 14px;
					font-weight: 300;
					line-height: 20px;
					text-align: left;
					margin-bottom: 29px;
				}
			}
			.active {
				color: #333333;
				border-bottom: 1px solid #333;
			}
		}
	}
}